header{
    position: sticky;
    z-index: 20;
    top: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    background-color: var(--light-color);
    color: var(--dark-color);
    width: 100%;
    box-shadow: 0 -6px 16px 5px rgba(60,60,60,0.2);
}

header img{
    display: inline;
    float: left;
    height: 100px;
    width: 120px; 
    margin-left: 14px;
}

.navigationheader li{
    display: inline;
    float: left;
    align-items: center;
    color: var(--dark-color);
    line-height: 100px;
    position: relative;
    left: 900px;
    font-family: var(--font-brand);
    font-weight: 700    ;
    font-size: 12.4px;
}

.navigationheader li:hover{
    color: var(--brand-color);
}

.navigationheader ul{
    display: flex;
    gap: 1.4rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.navigationheader button{
    align-items: center;
    position: absolute;
    top: 32px;
    left: 1390px;
    padding: 0.6rem;
    background-color: var(--brand-color);
    color: var(--light-color);
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.close {
    display: none;
}

.hamburger {
    display: none;
}

.navigationheader button:hover{
    background-color: var(--dark-color);
}

@media screen and (max-width:1000px){
    .hamburger {
        display: flex;
        position: fixed;
        z-index: 99;
        border: none;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
      }
      
      .menu {
        position: fixed;

        z-index: 100;
        left: 145px;
        top: 100px;
        width: 200px;
        height: 300px;

        list-style: none;
        background: var(--dark-color);
        display: flex;
      
        flex-direction: column;
        transform: translateY(-200%);
      }
      
      .hamburger span{
        position: absolute;
        font-size: 45px;
        margin-top: 12px;
        margin-left: -40px;
      }
    

      .close {
        display: flex;
        position: absolute;
        border: none;
        color: white;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
      }

      .navigationheader button{
        display: flex;
        position: absolute;
        left: 44px;
        top: 244px;
      }

      .menu:target {
        transform: translateY(0);
      }

      .menu li{
        display: flex;
        left: 0;
        color: var(--light-color);
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: -80px;
        
      }

      .navigationheader button, li{
        pointer-events: none;
      }
}

