header a{
    color: inherit;
    text-decoration: none;
}

header ul{
    
    display: flex;
    gap: 1.5rem;
    margin-right: 3rem;
    margin-top: -8px;

    place-content: end;
    place-items: center;
    float: right;

    font-size: large;
    font-weight: 600;

}

header h1{
    
    display: flex; 

    place-items: center;
    float: left;

    margin-top: -15px;
}