:root {
    --brand-color: #3CB35A;
    --dark-color: #03012C;
    --mid-color: #635E79;
    --light-color: #FFFFFF;
      
    --base-font: Verdana, Geneva, Tahoma, sans-serif;
    --brand-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    --cardWidth: 240px;
    --cardHeight: 280px;
    --cardMargin: 16px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--base-font);
    color: var(--dark-color);
    background: var(--light-color);
}

.cards{
    background: var(--brand-color);
    
    width: 100%;
    padding: 12vh 2vh;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

.cards section{
    flex: 1 1 300px;
    align-self: stretch;
    height: 300px;


    background: var(--light-color);

    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(50,50,50,0.3);

    padding: 1.5rem;
}

.cards p {
    font-size: small;
    margin: 1.5rem 0;
}

.cards h3{
    font-size: x-large;
    font-family: var(--brand-font);
}

.cards span{
    color: gold;
    margin-top: 60px;
}